<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "TAB3_TITLE" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "TAB3_TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Configuración de nombre de usuario -->
    <ion-item>
      <ion-label position="stacked">{{ "USER_NAME" | translate }}</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="nombreUsuario" 
        (ionChange)="guardarNombreUsuario()"
        [placeholder]="'ENTER_USER_NAME' | translate">
      </ion-input>
    </ion-item>

    <!-- Selector de idioma -->
    <ion-item>
      <ion-label>{{ "LANGUAGE" | translate }}</ion-label>
      <ion-select 
        [value]="idioma" 
        (ionChange)="cambiarIdioma($event)" 
        [cancelText]="'CANCEL' | translate" 
        [okText]="'ACCEPT' | translate">
        <ion-select-option *ngFor="let idioma of idiomasDisponibles" [value]="idioma.codigo">
          {{ idioma.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selector de tema oscuro -->
    <ion-item>
      <ion-label>{{ "DARK_THEME" | translate }}</ion-label>
      <ion-toggle 
        [checked]="temaOscuro" 
        (ionChange)="cambiarTema($event)">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>