<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "TAB3_TITLE" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "TAB3_TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Configuración de nombre de usuario -->
    <ion-item>
      <ion-label position="stacked">{{ "USER_NAME" | translate }}</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="nombreUsuario" 
        (ionChange)="guardarNombreUsuario()"
        [placeholder]="'ENTER_USER_NAME' | translate">
      </ion-input>
    </ion-item>

    <!-- Selector de tema -->
    <ion-item>
      <ion-label>{{ "DARK_THEME" | translate }}</ion-label>
      <ion-toggle 
        [(ngModel)]="temaOscuro" 
        (ionChange)="guardarTemaOscuro()">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>